# .NET
bin/
obj/
*.db
*.db-shm
*.db-wal
*.user
*.suo
.vs/
*.dll
*.exe
*.cache
*.log
*.mp4


# Frontend
node_modules/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Migrations (optional - keep for production)
# Migrations/
